@import 'basics';

.panel-button {
    padding: 2.5rem 0.5rem;
    .btn-back {
        padding: 0.3rem 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    svg {
      stroke: $text;
    }
}
.country-container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0.6rem;
  color: $text;

}
.country-flag {
  width: 100%;
  max-width: 30rem;
  height: auto;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.country-name {
  font-weight: 800;
  font-size: clamp(1.2rem, 1rem + 1vw, 32px);
}
.country-details {
  padding: 2rem 0;
}
.country-details-column {
  margin: 1.5rem 0 3rem 0;
  h2:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}
.country-borders {
  margin: 2rem 0;
  .borders-title {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: clamp(0.7rem, 0.7rem + 1vw, 1rem);
    &.inline {
      display: inline;
    }
  }
}
.borders-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  button {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1;
    padding: 0.4rem 1.4rem;
  }
}

  @media(min-width: 45rem) {
    .country-details {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content;
      margin: 3rem 0;
      padding: 0;
    }
    .country-name {
      grid-column: 1/3;
      margin-bottom: 1.6rem;
    }
    .country-details-column {
      margin: 0;
      grid-row: 2;
    }
    .country-borders {
      grid-column: 1/3;
    }
  }
  @media(min-width: 68rem){
    .country-container {
      flex-direction: row;
      gap: 3rem;
      margin: 0;
      padding: 0;
    }
    .country-details {
      margin: 0;
      column-gap: 2rem;
    }
  }
  @media(min-width: 80rem) {
    .country-container {
      gap: 9rem;
      align-items: flex-start;
    }
    .panel-button {
      padding: 5rem 0 5rem 0;
      .btn-back {
        padding: 0.5rem 2rem;
        font-size: 1.1rem;
      }
    }
    .country-flag {
      max-width: 35rem;
      max-height: 25rem;
    }
    .country-details {
      width: 100%;
      column-gap: 4rem;
      padding: 2rem 0;
    }
    .country-details-column {
      h2:not(:last-of-type) {
        margin-bottom: 0.4rem;
      }
    }
    .country-borders {
      display: flex;
      gap: 1rem;
      margin:4.5rem 0 0 0;
        .borders-title {
          min-width: fit-content;
          margin: 0;
        }
    }
  }